:root {
  --header-height: 3.5rem;

  --hue: 255;
  --first-color: #ff0000;
  --first-color-alt: #00b7b5;
  --first-color-alt-2: #00b7b5;
  --first-color-light: #69f9f6;
  --title-color: hsl(240, 8%, 95%);
  --text-color: hsl(240, 8%, 70%);
  --text-color-light: hsl(240, 8%, 50%);
  --body-color: hsl(0, 0%, 0%);
  --container-color: hsl(240, 8%, 6%);

  --body-font: "Montserrat", sans-serif;
  --second-font: "Unbounded", sans-serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  --z-tooltip: 10;
  --z-fixed: 100;

  --color-text: #000;
  --colog-bg: #000;
  --color-bg-accent: #00b7b5;
  --size: clamp(10rem, 1rem + 26vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 60s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arimo", sans-serif;
}

.container {
  max-width: 1900px;
  margin: 0 auto;
}

body,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  overflow: hidden;
}

.button {
  /* background-color: var(--body-color); */
  /* border: 3px solid var(--first-color); */
  color: var(--title-color);
  padding: 1rem 2rem;
  /* box-shadow: 0 8px 32px hsla(210, 60%, 64%, 0.5), inset 9px -8px 30px #00b7b5; */
  /* background-color: var(--first-color); */
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  border-radius: 1rem;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  transition: box-shadow 0.4s;
}

h1,
h2,
h3,
h4 {
  color: var(--first-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}

.header {
  width: 100%;
  background-color: var(--body-color);
  border-bottom: 1px solid var(--text-color-light);
}

.nav {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo img {
  height: 45px;
  width: auto;
  display: block;
}

.nav-logo h1 {
  color: var(--title-color);
  font-size: 24px;
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  transition: 0.4s ease-in;
}

.nav-logo h1:hover {
  color: var(--first-color);
}

.nav-menu {
  display: flex;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav-item {
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: var(--title-color);
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.nav-link:hover {
  color: var(--first-color);
}

.nav-link::after {
  bottom: -0.5px;
  content: "";
  display: block;
  height: 2px;
  width: 0;
  left: 0;
  position: absolute;
  background-color: var(--first-color);
  opacity: 0.7;
  transition: width 0.3s ease, opacity 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.dropdown-menu {
  list-style: none;
  position: absolute;
  top: 2rem;
  left: 7px;
  background: #fff;
  min-width: 240px;
  border-radius: 6px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  display: none;
  z-index: 1000;
}

.dropdown-menu li a {
  display: block;
  padding: 12px 16px;
  color: var(--color-text);
  text-decoration: none;
  font-size: var(--h3-font-size);
}

.dropdown-menu li a:hover {
  background-color: var(--first-color);
  color: #fff;
}

.dropdown.active .dropdown-menu {
  display: block;
}

.search {
  font-size: 20px;
  color: var(--color-text);
  cursor: pointer;
  padding-left: 1rem;
}

.search i {
  color: var(--text-color);
}

.nav-toggle {
  display: none;
  font-size: 28px;
  color: var(--title-color);
  cursor: pointer;
}

.home-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 840px;
  background: var(--body-color);
  box-shadow: 0 30px 50px #dbdbdb;
  border-radius: 20px;
}
.home-container .slide {
  border-radius: 20px;
}
.slide .item {
  width: 200px;
  height: 250px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: all 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
  left: 0;
  border-radius: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: all 0.5s;
}

.slide .item:nth-child(3) {
  left: 60%;
  height: 400px;
  width: 300px;
  top: 50%;
  transform: translateY(-50%);
}
.slide .item:nth-child(4) {
  left: calc(65% + 260px);
  height: 400px;
  width: 300px;
  top: 50%;
  transform: translateY(-50%);
}
.slide .item:nth-child(5) {
  left: calc(65% + 440px);
  height: 400px;
  width: 300px;
}

.slide .item:nth-child(n + 6) {
  left: calc(57% + 660px);
  opacity: 0;
}
.item .content {
  position: absolute;
  top: 40%;
  left: 360px;
  width: 300px;
  text-align: left;
  color: var(--title-color);
  transform: translate(0, -50%);
  font-family: system-ui;
  display: none;
}

.slide .item:nth-child(2) .content {
  display: block;
}

.content .name {
  font-size: var(--biggest-font-size);
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation: animate 1s ease-in-out 1 forwards;
}

.content .des {
  font-size: var(--bigger-font-size);
  color: var(--color-text);
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  border-radius: 10px;
  background-color: var(--title-color);
  transition: all 0.5s;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.content button:hover {
  background-color: var(--first-color);
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }

  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}

.button {
  display: flex;
  flex-direction: row;
  gap: 20px;
  left: 50%;
  /* right: 50%; */
  /* width: 50%; */
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.button button {
  width: 40px;
  height: 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border: 2px solid var(--text-color);
  transition: 0.3s;
  background: var(--title-color);
}

.button button:hover {
  color: var(--first-color);
  border: 2px solid var(--first-color);
  transform: scale(1.1);
}
.button button:focus {
  transform: scale(1.1);
  background: var(--title-color);
  border: 2px solid var(--first-color);
}
.button button:active {
  transform: scale(1.02);
}
.next {
  padding: 0 0 0 3px;
}
.prev {
  padding: 0 3px 0 0;
}
